<div class="content">
    <div class="logo-wrapper">
        <img src="logo.png" alt="" class="logo" routerLink="/">
        <span class="logo-subtitulo">Painel de Produção</span>
    </div>
    <div class="main-sidebar">

        <span class="nav-label">Cortes</span>

        <button [routerLink]="['/cortes', 'Geral']" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">dashboard</span>
            </span>
            <span>Geral</span>
        </button>
        <button [routerLink]="['/cortes', 'Pendentes']" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">pending_actions</span>
            </span>
            <span>Pendentes</span>
        </button>
        <button [routerLink]="['/cortes', 'Enfestados']" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">layers</span>
            </span>
            <span>Enfestados</span>            
        </button>
        <button [routerLink]="['/cortes','Cortados']" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">content_cut</span>
            </span>
            <span>Cortados</span>
        </button>

        <span class="nav-label">Sistema</span>

        <button routerLink="historico" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">history</span>
            </span>
            <span>Histórico</span>
        </button>
        <button routerLink="configuracoes" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">settings</span>
            </span>
            <span>Configurações</span>
        </button>
        <button routerLink="suporte" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">support_agent</span>
            </span>
            <span>Suporte</span>
        </button>
    </div>

    <div class="footer-sidebar">        
        <span>Pedro Nunes | 2026</span>
    </div>
</div>