<div class="content">
    <img src="logo.png" alt="" class="logo">    
    <div class="main-sidebar">
        <button [routerLink]="['/cortes', 'Geral']" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">dashboard</span>
            </span>
            <span>Geral</span>
        </button>
        <button [routerLink]="['/cortes', 'Pendentes']" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">pending_actions</span>
            </span>
            <span>Pendentes</span>
        </button>
        <button [routerLink]="['/cortes', 'Enfestados']" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">layers</span>
            </span>
            <span>Enfestados</span>            
        </button>
        <button [routerLink]="['/cortes','Cortados']" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">content_cut</span>
            </span>
            <span>Cortados</span>
        </button>
        <button routerLink="nota" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">assignment</span>
            </span>
            <span>Notas</span>
        </button>
        <button routerLink="historico" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">history</span>
            </span>
            <span>Histórico</span>
        </button>
        <button routerLink="configuracoes" routerLinkActive="active">
            <span class="icon-box">
                <span class="material-icons-outlined">settings</span>
            </span>
            <span>Configurações</span>
        </button>
    </div>
    <div class="footer-sidebar">
        <button routerLink="suporte" class="btn-suporte">Suporte</button>
        <span>Pedro Nunes 2026</span>
    </div>
</div>