:host{

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .logo{
        width: 350px;
    }

    .main-sidebar{
        display: flex;
        flex-direction: column;
        gap: 24px;        
        align-items: center;
        justify-content: center;
        flex: 1;
        width: 100%;
    }

    .main-sidebar button{
        width: 60%;
        border: none;
        padding: 11px 0;
        border-radius: 8px;
        background-color: #D9D9D9;
        font-size: 20px;
        cursor: pointer;
    }

    .main-sidebar button:hover{
        transform: scale(1.01);
        background-color: #a5a4a4;
    }

    .footer-sidebar{        
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 20px;
    }

    .footer-sidebar span{
        font-size: 20px;
    }

    .footer-sidebar span a{
        color: black;
    }

    button.active{
        background-color: rgb(88, 88, 88) !important;
        color: white;
    }

    .btn-suporte{
        border: none;
        font-size: 20px;
        background-color: transparent;
        text-decoration: underline;
        cursor: pointer;
    }

    @media(max-width: 1366px){

        .footer-sidebar{            
            font-size: 16px;
        }

        .footer-sidebar span{
            font-size: 16px;
        }

        .logo{
            width: 300px;
        }

        .main-sidebar button{
            font-size: 16px;
        }
    }
}