/* You can add global styles to this file, and also import other style files */
body{

    --green-primary-color: #36A615;
    --orange-primary-color: #a3690b;
    --gray-primary-color: #7A7777;
    --red-primary-color: #DE3636;

    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}