<div class="container">

  <div class="header-container">
    <div class="header-left">
        <h1 class="title">{{pageSelected}}</h1>
        <h3>Lote atual: <span style="color: green;">{{loteAtual}}</span></h3>
        <form>
            <div class="input-nome">
                <img src="search.png" alt="" class="icon-search">
                <input type="text" placeholder="Digite nome ou lote" class="input-busca" name="nome" [(ngModel)]="nomeParaBuscar" (keydown.enter)="buscarCortePorNomeOuLote()" required>
            </div>
        </form>
    </div>
    <div class="header-center">
        <h1 class="title">{{mesAtual}} {{anoAtual}}</h1>
    </div>
    <div class="header-right">
        <button type="button" class="btn-add-corte btn-header" (click)="abrirCriacao()">Adicionar corte</button>
        <span>Cortes registrados: {{relatorioDeCortes}}</span>
    </div>
  </div>

  <div class="lista-cortes">

    @if (telaCarregadandoModal) {
      <div class="loading-overlay">
        <div class="spinner-container">
          <div class="spinner"></div>
          <p class="loading-text">Carregando...</p>
        </div>
      </div>
    }

    @if (modoCriacao) {
        <div class="card-corte criacao">
        <div><h3 class="title-card">Novo corte</h3></div>
        <div class="linha">
          <div class="coluna">            
              <label>Modelo:</label>
              <input type="text" [(ngModel)]="novoCorte.nomeModelo" required placeholder="Nome do modelo">
              @if (erros['nomeModelo']) {
                <span class="erro">
                  &#9888; {{ erros['nomeModelo'] }}
                </span>
              }
              <div class="escolha-lote">
                <label class="opcao-lote" [class.ativo]="tipoLote === 'atual'">
                  <input type="radio" name="tipoLote" value="atual" [(ngModel)]="tipoLote">
                  <span>Usar lote atual</span>
                </label>

                <label class="opcao-lote" [class.ativo]="tipoLote === 'novo'">
                  <input type="radio" name="tipoLote" value="novo" [(ngModel)]="tipoLote">
                  <span>Incrementar novo lote</span>
                </label>
              </div>          
          </div>

          <div class="coluna">        
              <label>Quantidade: </label>
              <input type="number" [(ngModel)]="novoCorte.quantidadeTotal" [min]="0" required placeholder="Digite a quantidade total">      
               @if (erros['quantidade']) {
                <span class="erro">
                  &#9888; {{ erros['quantidade'] }}
                </span>
              }
              <label>Data de registro: </label>
              <input type="date" [(ngModel)]="novoCorte.dataDeRegistro" required>  
               @if (erros['dataRegistro']) {
                <span class="erro">
                  &#9888; {{ erros['dataRegistro'] }}
                </span>
              }          
          </div>

          <div class="coluna observacao">
            <p><span>Observações</span></p>
            <div class="box-observacao">          
                  <input type="text" [(ngModel)]="novoCorte.observacao" class="input-obs" placeholder="Digite alguma observação">                                             
            </div>
          </div>

        </div>
        <div class="expand-area ativo">      
          <div class="btn-criacao">
            <button class="btn btn-salvar" (click)="adicionarCorte()">Salvar</button>
            <button class="btn" (click)="fecharCriacao()">Cancelar</button>
          </div>
        </div>
      </div>

    }

    @if (corteAdicionadoRecentemente) {
      <span style="font-weight: bold; opacity: 0.5;">Adicionado recentemente</span>
      <div class="card-corte" [ngClass]="pegarStatusParaEstilo(corteAdicionadoRecentemente.corteStatus)">
       <div class="header-card">
          <h3 class="title-card">{{corteAdicionadoRecentemente.corteStatus}}</h3>
            <button class="btn-menu" (click)="abrirModalOpcao(corteAdicionadoRecentemente)">
              <img src="three.png" alt="">
            </button>
            @if (opcoesCard && corteAbertoOpcao.id === corteAdicionadoRecentemente.id) {
              <div class="opcoes-btn">
                @if (corteAdicionadoRecentemente.corteStatus === 'CANCELADO') {
                   <button class="btn-opcao ativar" (click)="ativarCorte(corteAdicionadoRecentemente)">
                    ✅ Ativar corte
                  </button>
                }
                @else {
                  <button class="btn-opcao cancelar" (click)="cancelarCorte(corteAdicionadoRecentemente)">
                    ❌ Cancelar corte
                  </button>
                }
                <button class="btn-opcao excluir" (click)="excluirCorte(corteAdicionadoRecentemente.id)">
                  🗑️ Excluir corte
                </button>
              </div>
            }
        </div>
        <div class="linha">
          <div class="coluna">
            @if (corteSelecionado && corteSelecionado.id === corteAdicionadoRecentemente.id) {
              <label>Modelo:</label>
              <input type="text" [(ngModel)]="corteEdicao!.nomeModelo">
              @if (erros['nomeModeloAtt']) {
                <span class="erro">
                  &#9888; {{ erros['nomeModeloAtt'] }}
                </span>
              }
              <label>Lote: </label>
              <input type="text" [(ngModel)]="corteEdicao!.loteFormatado">
              @if (erros['loteAtt']) {
                <span class="erro">
                  &#9888; {{ erros['loteAtt'] }}
                </span>
              }
              <label>Data de corte: </label>
              <input type="date" [(ngModel)]="corteEdicao!.dataDeCorte">
              @if (erros['dataCorteAtt']) {
                <span class="erro">
                  &#9888; {{ erros['dataCorteAtt'] }}
                </span>
              }
            }
            @else {
              <p><span>Modelo:</span> {{ corteAdicionadoRecentemente.nomeModelo }}</p>
              <p><span>Lote:</span> {{ corteAdicionadoRecentemente.loteFormatado }}</p>
              <p><span>Data de corte:</span> {{ corteAdicionadoRecentemente.dataDeCorte }}</p>
            }
            <button type="button" class="btn-edit" (click)="selecionarCorte(corteAdicionadoRecentemente)"><img src="edit.png" alt="" class="icon-edit"> Editar</button>
          </div>

          <div class="coluna">
            @if (corteSelecionado && corteSelecionado.id === corteAdicionadoRecentemente.id) {
              <label>Selecionar Enfestador: </label>
                  <select [(ngModel)]="idEnfestador">
                    <option [ngValue]="null">Selecionar enfestador</option>
                    @for (enfestador of enfestadores; track enfestador.id) {
                      <option [ngValue]="enfestador.id">{{enfestador.nome}}</option>
                    }     
                  </select>
              <label>Selecionar Cortador: </label>
                  <select [(ngModel)]="idCortador">
                    <option [ngValue]="null">Selecionar cortador</option>
                    @for (cortador of cortadores; track cortador.id) {
                      <option [ngValue]="cortador.id">{{cortador.nome}}</option>
                    }                   
                </select>
              <label>Quantidade: </label>
              <input type="number" [(ngModel)]="corteEdicao!.quantidadeTotal">
              @if (erros['quantidadeAtt']) {
                <span class="erro">
                  &#9888; {{ erros['quantidadeAtt'] }}
                </span>
              }
            }
            @else {
              <p><span>Enfestador:</span> {{ corteAdicionadoRecentemente.enfestador?.nome || '(Pendente)' }}</p>
              <p><span>Cortador:</span> {{ corteAdicionadoRecentemente.cortador?.nome || '(Pendente)' }}</p>
              <p><span>Quantidade: </span>{{corteAdicionadoRecentemente.quantidadeTotal}}</p>
            }
          </div>

          <div class="coluna observacao">
            <p><span>Observações</span></p>
            <div class="box-observacao">
               @if (corteSelecionado && corteSelecionado.id === corteAdicionadoRecentemente.id) {
                  <input type="text" [(ngModel)]="corteEdicao!.observacao" class="input-obs">
               }
               @else {
                  {{ corteAdicionadoRecentemente.observacao || '-' }}
               }
            </div>
          </div>

        </div>
        <div class="expand-area" [class.ativo]="corteSelecionado?.id === corteAdicionadoRecentemente.id">
            <button class="btn  btn-salvar" (click)="atualizarCorte()">Salvar</button>
            <button class="btn " type="button" (click)="fecharModalCorte()">Cancelar</button>
        </div>
      </div>
      <div>
        <hr>
      </div>
    }

    @if (cortesDoMes.length === 0) {
      <p style="text-align: center; font-style: italic; opacity: 0.5;">Nenhum corte registrado ou encontrado este mês.</p>
    }

    @for (corte of cortesDoMes; track corte.id) {
      <div class="card-corte" [ngClass]="pegarStatusParaEstilo(corte.corteStatus)">
        <div class="header-card">
          <h3 class="title-card">{{corte.corteStatus}}</h3>
            <button class="btn-menu" (click)="abrirModalOpcao(corte)">
              <img src="three.png" alt="">
            </button>
            @if (opcoesCard && corteAbertoOpcao.id === corte.id) {
              <div class="opcoes-btn">
                @if (corte.corteStatus === 'CANCELADO') {
                   <button class="btn-opcao ativar" (click)="ativarCorte(corte)">
                    ✅ Ativar corte
                  </button>
                }
                @else {
                  <button class="btn-opcao cancelar" (click)="cancelarCorte(corte)">
                    ❌ Cancelar corte
                  </button>
                }
                <button class="btn-opcao excluir" (click)="excluirCorte(corte.id)">
                  🗑️ Excluir corte
                </button>
              </div>
            }
        </div>
        <div class="linha">
          <div class="coluna">
            @if (corteSelecionado && corteSelecionado.id === corte.id) {
              <label>Modelo:</label>
              <input type="text" [(ngModel)]="corteEdicao!.nomeModelo">
              @if (erros['nomeModeloAtt']) {
                <span class="erro">
                  &#9888; {{ erros['nomeModeloAtt'] }}
                </span>
              }
              <label>Lote: </label>
              <input type="text" [(ngModel)]="corteEdicao!.loteFormatado">
              @if (erros['loteAtt']) {
                <span class="erro">
                  &#9888; {{ erros['loteAtt'] }}
                </span>
              }
              <label>Data de corte: </label>
              <input type="date" [(ngModel)]="corteEdicao!.dataDeCorte">
              @if (erros['dataCorteAtt']) {
                <span class="erro">
                  &#9888; {{ erros['dataCorteAtt'] }}
                </span>
              }
            }
            @else {
              <p><span>Modelo:</span> {{ corte.nomeModelo }}</p>
              <p><span>Lote:</span> {{ corte.loteFormatado }}</p>
              <p><span>Data de corte:</span> {{ corte.dataDeCorte || '-' }}</p>
            }
            <button type="button" class="btn-edit" (click)="selecionarCorte(corte)"><img src="edit.png" alt="" class="icon-edit"> Editar</button>
          </div>

          <div class="coluna">
            @if (corteSelecionado && corteSelecionado.id === corte.id) {
              <label>Selecionar Enfestador: </label>
                  <select [(ngModel)]="idEnfestador">
                    <option [ngValue]="null">Selecionar enfestador</option>
                    @for (enfestador of enfestadores; track enfestador.id) {
                      <option [ngValue]="enfestador.id">{{enfestador.nome}}</option>
                    }     
                  </select>
              <label>Selecionar Cortador: </label>
                  <select [(ngModel)]="idCortador">
                    <option [ngValue]="null">Selecionar cortador</option>
                    @for (cortador of cortadores; track cortador.id) {
                      <option [ngValue]="cortador.id">{{cortador.nome}}</option>
                    }                   
                </select>
              <label>Quantidade: </label>
              <input type="number" [(ngModel)]="corteEdicao!.quantidadeTotal">
              @if (erros['quantidadeAtt']) {
                <span class="erro">
                  &#9888; {{ erros['quantidadeAtt'] }}
                </span>
              }
            }
            @else {
              <p><span>Enfestador:</span> {{ corte.enfestador?.nome || '(Pendente)' }}</p>
              <p><span>Cortador:</span> {{ corte.cortador?.nome || '(Pendente)' }}</p>
              <p><span>Quantidade: </span>{{corte?.quantidadeTotal}}</p>
            }
          </div>

          <div class="coluna observacao">
            <p><span>Observações</span></p>
            <div class="box-observacao">
               @if (corteSelecionado && corteSelecionado.id === corte.id) {
                  <input type="text" [(ngModel)]="corteEdicao!.observacao" class="input-obs">
               }
               @else {
                  {{ corte.observacao || '-' }}
               }
            </div>
          </div>

        </div>
        <div class="expand-area" [class.ativo]="corteSelecionado?.id === corte.id">
            <button class="btn btn-salvar" (click)="atualizarCorte()">Salvar</button>
            <button class="btn" type="button" (click)="fecharModalCorte()">Cancelar</button>
        </div>
      </div>
    }
  </div>
</div>