:host{
    .container{
        display: flex;
        height: 100vh;
    }

    .sidebar {
        position: fixed;
        width: 300px;
        background: rgb(247, 245, 245);
        height: 100vh;
        border-right: solid 1.5px rgba(10, 10, 10, 0.226);        
    }

    .content {
        height: 100vh;
        margin-left: 300px;
        overflow-y: auto;
        background: #ffffff;
        width: 100%;
    }

    @media(max-width: 1366px){

        .sidebar{
            width: 240px;
        }

        .content{
            margin-left: 240px;
        }
    }
}